@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-custom-white-50: #FFFFFF;
  --color-custom-white-100: #F5F5F9;

  --color-custom-gray-50: #D9D9D9;
  --color-custom-gray-100: #C6C6C6;
  --color-custom-gray-200: #ABABB0;

  --color-custom-green-50: #BBCBCD;
  --color-custom-green-100: #ABC4BE;
  --color-custom-green-200: #45605A;
  --color-custom-green-300: #30534B;
  --color-custom-green-400: #36534D;
  --color-custom-green-500: #15322C;
  --color-custom-green-600: #1D322D;
  --color-custom-green-700: #0E1917;

  --color-custom-olive-50: #3F473D;
  --color-custom-olive-100: #222920;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}